.navBar> * {
    display: inline-block;
    text-align: center;
}
.footer > * {
    display: inline-block;
    text-align: center;
}
.introduction> * {
    display: inline-block;
    text-align: center;
}
.info> * {
    display: inline-block;
    text-align: center;
}
.quote> * {
    display: inline-block;
    text-align: center;
}
.welcome> * {
    padding: 70px 0;
}

.header{
    background-color: rgb(152, 214, 247);
}
.main{
    background-color: rgb(162, 255, 112);
}
.footer{
    background-color: rgb(255, 227, 17);
}